// variaveis
$primary: #009843;
$primary-darken: darken($primary, 25);
$primary-lighten: lighten($primary, 25);
$secondary: #f2f2f2;
$secondary-darken: darken($secondary, 25);
$secondary-lighten: lighten($secondary, 25);
$branco: #fff;
$preto: #000;
$cinza: #ccc;
$cinza-escuro: #464a4c;
$iphone: "only screen and (min-device-width : 320px) and (max-device-width : 568px)"; /** iphone 5 **/
$iphone-4: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";/** iphone 2g/3g/3gs/4s **/
$iphone-6: "only screen and (min-device-width : 375px) and (max-device-width : 667px)"; /** iphone 6/7/8 **/
$galaxy: "screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2)";
$nexus: "screen and (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2)";
$windows: "screen and (device-width: 480px) and (device-height: 800px)"; /** windows phone **/
$samsung: "only screen and (min-width: 414px) and (max-width: 767px)";/** samsung s7 **/
$samsung-5: "only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3)";/** samsung s4/s5 **/
$samsung-3: "only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2)";/** samsung s3 **/
$max-mobile: "(max-width: 425px)"; 	//sm
$min-media: "(min-width: 425px)";
$max-media: "(max-width: 720px)"; 	//md
$min-tablet: "(min-width: 720px)";
$max-tablet: "(max-width: 960px)"; 	//lg
$min-laptop: "(min-width: 960px)";
$max-laptop: "(max-width: 1140px)"; //xl
$min-screen: "(min-width: 1140px)";
$max-screen: "(max-width: 1980px)";
$size-default: 18px;
$dir: "../img/";
$font: 'Open Sans'; 